@import "tailwindcss";

@font-face {
  font-family: "JetBrains Mono";
  src: url("/src/assets/fonts/jetbrains-mono/jetbrains-mono-v24-latin-regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/src/assets/fonts/jetbrains-mono/jetbrains-mono-v24-latin-500.woff2")
    format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/src/assets/fonts/jetbrains-mono/jetbrains-mono-v24-latin-700.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/src/assets/fonts/inter/inter-v20-latin-regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/src/assets/fonts/inter/inter-v20-latin-600.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/src/assets/fonts/inter/inter-v20-latin-800.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@theme {
  /* Fonts */
  --font-mono: "JetBrains Mono", ui-monospace, monospace;
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;

  /* Emerald Night Colour Palette */
  --color-obsidian: #08090a;
  --color-midnight: #0d0f12;
  --color-steel: #161b22;
  --color-emerald: #00ff9d;
  --color-forest: #008f5d;
  --color-silver: #e0e6ed;
}

html,
body,
#root {
  background-color: #0d0f12;
  color: #e0e6ed;
  margin: 0;
  padding: 0;
}

.button:hover {
  border-color: #008f5d;
  color: #008f5d;
  box-shadow: 0 0 10px rgba(0, 143, 93, 0.2);
}
